@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);

body {
  background: #000000;
  color: #FFF;
  font-family: "Ubuntu Mono", monospace;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

#container {
  position: relative;
  width: 800px;
  height: 600px;
  margin: auto;
}

#ui, #ui-chat {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 60%;
  font-size: 0;
  color: #00AA00;
}

#ui.without-extra #ui-extra {
  display: none;
}

#ui.without-extra #ui-main {
  margin-top: 3%;
}

#ui-chat {
  font-size: 1rem;
  top: 2.5%;
  right: 2.5%;
  left: 55%;
  height: 16.75rem;
  border: 1px solid #00AA00;
  background: rgba(0,0,0,0.8);
  color: #FFF;
}

#ui-chat-who {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.25em;
  border-bottom: 1px solid #00AA00;
}

#ui-chat-avatar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  font-size: 0;
}

#ui-chat-avatar .avatar-block {
  display: inline-block;
  width: 12.5%;
  height: 100%;
}

#ui-chat-avatar .avatar-block.char-1 {
  background-color: #FF0044
}

#ui-chat-avatar .avatar-block.char-2 {
  background-color: #DD4422
}

#ui-chat-avatar .avatar-block.char-3 {
  background-color: #44DD22
}

#ui-chat-avatar .avatar-block.char-4 {
  background-color: #2244DD
}

#ui-chat-avatar .avatar-block.char-5 {
  background-color: #4422DD
}

#ui-chat-avatar .avatar-block.char-6 {
  background-color: #22DD44
}

#ui-chat-avatar .avatar-block.char-7 {
  background-color: #DD2244
}

#ui-chat-avatar .avatar-block.char-8 {
  background-color: #446699
}

#ui-chat-avatar .avatar-block.char-9 {
  background-color: #664499
}

#ui-chat-avatar .avatar-block.char-_ {
  background-color: #996644
}

#ui-chat-avatar .avatar-block.char-a {
  background-color: #0099AA
}

#ui-chat-avatar .avatar-block.char-b {
  background-color: #9900AA
}

#ui-chat-avatar .avatar-block.char-c {
  background-color: #AA9900
}

#ui-chat-avatar .avatar-block.char-d {
  background-color: #99AA00
}

#ui-chat-avatar .avatar-block.char-e {
  background-color: #AA0099
}

#ui-chat-avatar .avatar-block.char-f {
  background-color: #00AA99
}

#ui-chat-avatar .avatar-block.char-g {
  background-color: #555599
}

#ui-chat-avatar .avatar-block.char-h {
  background-color: #995555
}

#ui-chat-avatar .avatar-block.char-i {
  background-color: #559955
}

#ui-chat-avatar .avatar-block.char-j {
  background-color: #CC0077
}

#ui-chat-avatar .avatar-block.char-k {
  background-color: #00CC77
}

#ui-chat-avatar .avatar-block.char-l {
  background-color: #7700CC
}

#ui-chat-avatar .avatar-block.char-m {
  background-color: #0077CC
}

#ui-chat-avatar .avatar-block.char-n {
  background-color: #77CC00
}

#ui-chat-avatar .avatar-block.char-o {
  background-color: #CC7700
}

#ui-chat-avatar .avatar-block.char-p {
  background-color: #CC2255
}

#ui-chat-avatar .avatar-block.char-q {
  background-color: #22CC55
}

#ui-chat-avatar .avatar-block.char-r {
  background-color: #5522CC
}

#ui-chat-avatar .avatar-block.char-s {
  background-color: #2255CC
}

#ui-chat-avatar .avatar-block.char-t {
  background-color: #55CC22
}

#ui-chat-avatar .avatar-block.char-u {
  background-color: #CC5522
}

#ui-chat-avatar .avatar-block.char-v {
  background-color: #FF4400
}

#ui-chat-avatar .avatar-block.char-w {
  background-color: #44FF00
}

#ui-chat-avatar .avatar-block.char-x {
  background-color: #0044FF
}

#ui-chat-avatar .avatar-block.char-y {
  background-color: #4400FF
}

#ui-chat-avatar .avatar-block.char-z {
  background-color: #00FF44
}

#ui-chat-name {
  position: absolute;
  top: 0;
  left: 20%;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  line-height: 1.25em;
  padding: 0 0.25em;
}

#ui-dialogue {
  position: absolute;
  top: 1.25em;
  left: 0;
  right: 0;
  bottom: 0;
}

.ui-dialogue-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ui-dialogue-list .name {
  color: #00AA00;
}

.ui-dialogue-list .player .name {
  color: #AA0000;
}

.ui-dialogue-list .name:after {
  color: #00AA00;
  content: ": ";
}

#ui-dialogue-entries {
  position: absolute;
  top: 1.25em;
  left: 0;
  right: 0;
  height: 15em;
  margin: 0.25em;
  overflow-y: hidden;
}

#ui-dialogue-choices {
  position: absolute;
  top: 16.75em;
  left: 0;
  right: 0;
  counter-reset: message;
  border: 1px solid #00AA00;
  background: rgba(0,0,0,0.8);
}

#ui-dialogue-choices .message {
  width: 100%;
  display: block;
  padding: 0.25em 0;
  cursor: pointer;
}

#ui-dialogue-choices .message:hover {
  background: #007700;
}

#ui-dialogue-choices .message:active {
  background: #004400;
}

#ui-dialogue-choices .message:before {
  color: #00AA00;
  content: counter(message) "> ";
  counter-increment: message;
}

#ui-extra {
  height: 10%;
}

#ui-extra button {
  font-size: 1rem;
  color: inherit;
  border: 1px solid #00AA00;
  background: rgba(0,0,0,0.8);
  display: inline-block;
  margin: 0;
  height: 100%;
  text-transform: uppercase;
  font-family: inherit;
}

#ui-extra button:hover {
  background: #000;
  color: #00EE00;
}

#ui-extra button:active {
  color: #007700;
}

#ui-extra button:last-child {
  float: right;
}

#ui-main {
  height: 90%;
}

#ui-info, #ui-commands {
  display: inline-block;
  font-size: 1rem;
  height: 100%;
  float: left;
  border-top: 1px solid #00AA00;
  background: rgba(0,0,0,0.8);
}

#ui-info {
  width: calc(66% - 1px);
  border-right: 1px solid #00AA00;
}

#ui-info h1 {
  text-align: center;
  margin: 0.5 0;
  font-weight: normal;
  font-size: 1.5em;
}

#ui-commands {
  width: 34%;
  overflow-y: auto;
}

#ui-commands ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#ui-commands ul li {
  display: block;
  padding: 0 0.5em;
  height: 2.5em;
  line-height: 2.5em;
}

#ui-commands ul li button {
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
  width: 100%;
  height: 100%;
  background: none;
  font-size: inherit;
  text-align: left;
}

#ui-commands ul li button:hover {
  color: #00EE00;
  cursor: pointer;
}

#ui-commands ul li button:active {
  color: #007700;
  border: 0;
}

.typing-indicator span:nth-child(1) {
  -webkit-animation: typing-animation 1800ms step-start 0s infinite;
  -moz-animation:    typing-animation 1800ms steps(5, start) infinite;
  -o-animation:      typing-animation 1800ms steps(5, start) infinite;
  animation:         typing-animation 1800ms step-start 0s infinite;
}

.typing-indicator span:nth-child(2) {
  -webkit-animation: typing-animation-2 1800ms step-start 0s infinite;
  -moz-animation:    typing-animation-2 1800ms steps(5, start) infinite;
  -o-animation:      typing-animation-2 1800ms steps(5, start) infinite;
  animation:         typing-animation-2 1800ms step-start 0s infinite;
}

.typing-indicator span:nth-child(3) {
  -webkit-animation: typing-animation-3 1800ms step-start 0s infinite;
  -moz-animation:    typing-animation-3 1800ms steps(5, start) infinite;
  -o-animation:      typing-animation-3 1800ms steps(5, start) infinite;
  animation:         typing-animation-3 1800ms step-start 0s infinite;
}

@-webkit-keyframes typing-animation {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-moz-keyframes typing-animation {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-o-keyframes typing-animation {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@keyframes typing-animation {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes typing-animation-2 {
  0% { opacity: 0.0; }
  16% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-moz-keyframes typing-animation-2 {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-o-keyframes typing-animation-2 {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@keyframes typing-animation-2 {
  0% { opacity: 0.0; }
  16% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes typing-animation-3 {
  0% { opacity: 0.0; }
  33% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-moz-keyframes typing-animation-3 {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-o-keyframes typing-animation-3 {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@keyframes typing-animation-3 {
  0% { opacity: 0.0; }
  33% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}